.circle-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 296px;
    background-color: #EFFCFE;
    border-radius: 50%;
    margin: 40px 0px 0px;

    .circle-small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 224px;
        height: 224px;
        background-color: #CEF6FE;
        border-radius: 50%;
        color: #073740;
        font-size: 20px;

        .price {
            font-size: 48px;
        }
    }
}
